[Desktop Entry]
Name=xst
Comment=xst is a simple virtual terminal emulator for X which sucks less
Exec=xst
Terminal=false
Type=Application
Icon=xst
Categories=System;TerminalEmulator;
